@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,wght@0,400;0,500;0,700;1,400;1,500;1,700&family=Lora:ital,wght@0,400;0,500;0,600;0,700;1,400;1,500;1,600;1,700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;


@layer utilities {
    .border-l-hero {
        border-left-width: 0.5px;
    }
    .h-106 {
        height: 30rem;
    }
    .w-106{
        width: 30rem;
    }
}
.bg-auriga-hijau{
    background-color: #01303c;
}
.bg-auriga-biru{
    background-color: #007580;
}
.text-auriga-biru{
    color: #007580;
}



.border-t-hero {
    border-top-width: 0.5px;
}

.bg-gray-sawit{
    background-color: #F0F3F3;
}

.selection-bg ::selection {
    background-color: #79ffe1;
}

.dark .selection-bg ::selection {
        background-color: #f81ce5;
        color: white;
}
